.item{
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.header{
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 5px !important;
}

.header__img{
    padding: 10px 20px 10px 0;
    max-height: 80px;
}

.header__name{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.header__artist{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}