.search{
    position: relative;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.search__input{
    width: 100%;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont;
    font-size: 18px;
    color: #1e375a;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 rgba(178,215,255,.3);
    padding: 15px 30px 15px 70px;
    outline: none;
    -webkit-appearance: none;
}

.search__icon{
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .25;
    transition: .3s;
    pointer-events: none;
}